:root {
  --primary-color: #6d4b25;
  --secondary-color: #5E3023;
  --accentColour: #895737;
  --lightGrey: #919191;
  --fade: #C08552;
  --lightBg: #DAB49D;
  --lightBgCream: #dfdfdf;
}
@media (max-width: 1399.98px) {
  
}
@media (max-width: 1199.98px) {
  .display-2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
  }
  .secH,
  .therdH {
    line-height: 40px;
  }
  .secH {
    font-size: 36px;
  }
  .therdH {
    font-size: 26px;
  }

  .journeyPart p{
    margin-top: 8px;
    font-size: 16px;
  }

.designApproach .fourthH{
font-size: 16px;
}
 
}
@media (max-width: 991.98px) {


  .display-2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 48px;
  }
  .secH {
    font-size: 32px;
    line-height: 36px;
  }
  .therdH {
    font-size: 24px;
    line-height: 30px;
  }


  #ca1.owl-carousel .item,
  .Banner {
    height: calc(100vh - 91px);
  }
  .footer .container > .row {
    row-gap: 30px;
  }
  .newBanner.KADS_ProfilePage0 {
    padding-bottom: 120px;
}
.newBanner span.therdH{
margin-bottom: 0;
}
  .testimonialBox{
    padding-left: 40px;
    width: 100%;
    padding-top: 130px;
    margin-top: 120px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .profilePic {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-50%);
    width: 200px;
    border: 10px solid var(--primary-color);
    box-shadow: 10px 10px 24px 2px rgba(0,0,0,0.25);
  }
  .KADS_ProfileDetail .hoverImg{
    overflow: hidden;
    position: relative;
    margin-top: 0;
    border: 15px solid var(--primary-color);
  }
  .KADS_ProfileDetail .container>.row{
    flex-direction: column-reverse;
  }

  .ourPhilosophy{
    background:var(--lightBgCream) ;
  }


  .journeyPart{
    padding: 0 12px;
    padding-left: 12px;
    /* background-color: var(--lightBgCream); */
  }
  .teamPicPart {
    padding: 40px;
    background: url('../image/PholoshophiBackground.webp') left/cover no-repeat;
  }
  
  .teamPicPart img{
    width: 100%;
  }
  .gitInPuchTachKendra .container>.row{
    justify-content: center;
  }
  .locationCard {
    align-self: center;
    margin-right: 0;
    width: 70%;
    min-width: fit-content;
    margin-bottom: -30px;
}
.FormWraper {
  padding: 12px;
  padding-top: 40px;
  padding-left: 12px;
  backdrop-filter: blur(6px) saturate(120%);
  -webkit-backdrop-filter: blur(6px) saturate(120%);
  background-color: #6d4b254b;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
  .designApproach .textPart{
  margin-left: 0;
}
}
@media (max-width: 767.98px) {
  .footer,
  .footer .secH,
  .leadingTeamCard {
    text-align: center;
  }
  .display-2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }
  .secH {
    font-size: 28px;
    line-height: 32px;
  }
  .therdH {
    font-size: 22px;
    line-height: 26px;
  }
  .defaultPadding {
    padding: 50px 0;
  }
  .footer.defaultPadding {
    padding: 34px 0;
  }
  .footer .secH {
    margin-bottom: 24px;
  }
  .footer .container > .row {
    justify-content: center;
    row-gap: 40px;
  }
  /* .footer .social-icons {
    justify-content: center;
  } */
  .footer .exploreLinks ul li,
  .footer .exploreLinks1 ul li {
    text-align: left;
  }
  .footer-brand {
    display: table !important;
    margin: auto;
  }
  .footer .locationLink {
    max-width: 304px;
  }
  .footer ul:not(.footer .exploreLinks1 ul) {
    max-width: 304px;
    margin: auto;
  }
  .footer .exploreLinks1 ul {
    max-width: 352px;
    margin: auto;
  }
  .footer .exploreLinks ul {
    width: 154px;
    max-width: 154px !important;
    margin: auto;
  }
  .footer ul.contact-info{
    width: 296.5px;
    max-width: 296.5px;
  }

  .wow {
    animation: none !important;
    visibility: visible !important;
  }
  .display-2 .animate__fadeInRight{
    position: relative;
    top: 12px;
    left: 0px;
    border-top: 4px solid var(--secondary-color);
  }
  .display-2 .animate__fadeInLeft{
    border-bottom: 4px solid var(--secondary-color);
  }


  .homeGallery-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    padding: 12px;
    border-radius: 8px;
  }
  
  .grid-item {
    padding: 8px;
  }
  
  
  .grid-item.large {
    aspect-ratio: 518.4/388.78;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  }
  
  .grid-item.tall {
    aspect-ratio: 1 / 2;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .grid-item.sideImg1 {
    aspect-ratio: 388.78/388.78;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .grid-item.sideImg2 {
    aspect-ratio: 388.78/388.78;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  
  .grid-item.wide1{
    aspect-ratio: 259.2/388.78;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
  }
  .grid-item.wide2 {
    aspect-ratio: 259.2/388.78;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
  }

  
  .caption {
    bottom: 8px;
    left: 8px;
    width: calc(100% - 16px);
  }

  .ContactForm  .btnOutline::before{
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  .ContactForm .btnOutline:hover::before{
    width: 450px;
    height: 450px;
    opacity: 1;
  }
.newBanner.Design-BuildPage0 {
    background: linear-gradient(to right, #000000ab, #000000ab), url("../image/DesignBuildBanner.webp") no-repeat -550px;
    background-size: cover;
}

  
}

@media (max-width: 575.98px) {
  #ca1.owl-carousel .bannerCard {
    margin: auto;
  }
  .Banner .owl-nav button {
    pointer-events: initial;
    height: 40px;
    width: 44px;
    background-color: var(--skyblue) !important;
    line-height: 46px;
    text-transform: capitalize;
    color: var(--lightGrey) !important;
  }
  .bannertext1 {
    padding: 30px !important;
    color: #fff;
  }
  .bannertext1 .display-2 a {
    color: #fff;
  }
  .footer .fourthH {
    margin-bottom: 20px;
  }
  .footer .social-icons {
    justify-content: center;
    padding-left: 0;
    padding-right: 48px;
  }
  .testimonialBox{
    padding: 40px 12px;
    padding-left: 12px;
    width: 100%;
    padding-top: 130px;
    margin-top: 120px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .textPart {
    padding: 12px;
}
.stylePattern{
  margin-right: 0;
}

}
@media only screen and (max-height: 539.98px) {
  #ca1.owl-carousel .item {
    padding: 80px 12px;
    background-color: red;
    height: unset;
  }
  #ca1.owl-carousel .item > .row {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    width: auto;
  }
}
@media only screen and (max-height: 539.98px) and (max-width: 1024px) {
  #ca1.owl-carousel .item {
    padding: 80px 12px;
    background-color: red;
    height: unset;
  }
  #ca1.owl-carousel .item > .row {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    width: auto;
  }

}
